<footer class="footer">
  <article>
    <h3>BNR Nieuwsradio</h3>
    <ul>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Frequenties</a></li>
      <li><a href="#">Files en flitsers</a></li>
      <li><a href="#">BNR Nieuwsbrief</a></li>
      <li><a href="#">Podcasts</a></li>
      <li><a href="#">RSS feed</a></li>
      <li><a href="#">Disclaimer</a></li>
    </ul>
  </article>
  <article>
    <h3>Zakelijke info</h3>
    <ul>
      <li><a href="#">Dutch Podcast Awards</a></li>
      <li><a href="#">Adverteren</a></li>
      <li><a href="#">Podcast sponsoren</a></li>
      <li><a href="#">Vacature plaatsen op BNR</a></li>
      <li><a href="#">Werken bij BNR</a></li>
      <li><a href="#">Stages</a></li>
    </ul>
  </article>
  <article>
    <h3>FD Mediagroep</h3>
    <ul>
      <li><a href="#">Company.info</a></li>
      <li><a href="#">Energeia</a></li>
      <li><a href="#">FD</a></li>
      <li><a href="#">FD Mediagroep</a></li>
      <li><a href="#">Impact investor</a></li>
      <li><a href="#">Investment officer</a></li>
      <li><a href="#">PensioenPro</a></li>
    </ul>
  </article>
  
  <aside>
    <h3>Socials</h3>
    <ul>
      <li><a href="#"><%- include('svg/twitter') %></a></li>
      <li><a href="#"><%- include('svg/facebook') %></a></li>
      <li><a href="#"><%- include('svg/instagram') %></a></li>
      <li><a href="#"><%- include('svg/linkedin') %></a></li>
      <li><a href="#"><%- include('svg/youtube') %></a></li>
      <li><a href="#"><%- include('svg/tiktok') %></a></li>
    </ul>
    
  </aside>
</footer>

<footer class="second-footer">
  Privacy | Copyright | Cookies | Voorwaarden
</footer>