<%- include("./partials/head") %>
<%- include('partials/nav') %>
<section id="signup-success">
    <article>
        <h1>You have successfully subscribed for the newsletter with</h1>
        <p><%= email %></p>
    </article>
</section>
<%- include("./partials/footer") %>
<%- include("./partials/foot") %>